@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');


body {
    background-image: url("../images/topo.jpg");
}

.txt {
    font-family: Poppins, 'sans-serif';
    color: white;
    position: relative;
}

#map {
    /* la carte DOIT avoir une hauteur sinon elle n'apparaît pas */
    height: 100vh;
    width: 100vw;

}