@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

body {
    margin: 0;
    padding: 0;
    background-image: url('../images/topo.png');
    background-size: cover;
    color: #ffffff;
    font-family: Poppins, 'sans-serif';
    height: 100vh;
    overflow: hidden;
}

/* CONTAINERS */

.control_panels {
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
}

.panel1 {
    width: 50vw;
    height: 40vh;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
}

.panel2 {
    width: 50vw;
    height: 35vh;
    margin-top: 8vh;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.panel3 {

    width: 50vw;
    height: 30vh;
    margin-top: 15vh;
    padding-top: 5vh;
}

.control_container {
    width: 50%;
    height: 100%;
    text-align: center;
    padding-top: 2rem;
}

.historic {
    height: 40vh;
    width: 50vw;
    text-align: center;
}


/* TITRES */

h1 {
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    word-spacing: 0.5rem;
    margin-top: 2px;
}

h2 {
    font-size: 2rem;
    font-weight: 300;
    text-align: center;
    width: 100%;
}

h4 {
    text-align: center;
    font-size: 3rem;
    transform: translateY(-4rem);
    color: #1ea1d5;
}

/* JAUGES */

#gauge-container-hygro {
    width: 90%;
}

#gauge-container-temp {
    width: 90%;
}

#preview-textfield-hygro {
    font-size: 2.5rem;
}

#preview-textfield-temp {
    font-size: 2.5rem;
}

p {
    transform: translateY(-1rem);
    font-size: 1.6rem;
}


/* GRAPHIQUE */

#graphique {
    width: 100%;
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.selection_points {
    text-align: center;
}

#nb_points {
    margin-left: 0.5rem;
    width: 4rem;
    height: auto;
    font-family: 'Poppins', sans-serif;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: .2rem .7rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: .9rem;
    font-family: 'Poppins', sans-serif;
    margin: .5rem 0.5rem;
    cursor: pointer;
    border-radius: 0.4rem;
    transition: all 0.3s ease-in-out;
}

input[type="submit"]:hover {
    background-color: #285829;
}

/* CONTROLE ARROSAGE */
.panneau_controle_arrosage {
    margin: 0;
}

input[type="range"] {
    position: relative;
    -webkit-appearance: none;
    background-color: #bdc3c7;
    width: 12rem;
    height: .3rem;
    border-radius: .3rem;
}

#label-text {
    display: inline-block;
    width: 22rem;
    text-align: right;
    margin-right: 1rem;
    font-size: 1.1rem;
}

#pourcent_display,
#secondes_display {
    display: inline-block;
    width: 9rem;
    margin-left: 1rem;
    text-align: left;
    font-size: 1.3rem;
}

.control_form {
    transform: translateY(-1.5rem);
}

#envoi_instructions {
    margin-top: 1rem;
}

iframe {
    display: none;
}

/* -- BOUTONS -- */

button {
    padding: 0;
    margin: 1rem;
    border: none;
    outline: none;
    color: inherit;
    height: 2rem;
    width: 8rem;
    cursor: pointer;
    position: relative;
    color: rgb(255, 255, 255);
    padding: 0.4rem;
}

.btn {
    border: 2px solid;
    animation: 0.5s collision ease-in;
    overflow: hidden;
    transition: 0.3s 0.1s;
    filter: url("#goo");
    background: transparent;
    border-radius: 3%;
}

.blue {
    color: #0873de;
    border-color: #0873de;
}

.green {
    border-color: #039700;
    color: #039700;
}

.btn:active {
    transform: translateX(100px);
    background: rgba(255, 255, 255, 0.5);
}

.btn p {
    position: relative;
    margin-top: 7%;
    font-weight: 700;
    font-size: 1.4rem;
    z-index: 5;
    transition: 1s ease-in-out;
}

.btn:hover p {
    color: #000000;
}

.btn:before,
.btn:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: white;
}

.btn:hover:before {
    animation: collisionLeft 1s both;
    animation-direction: alternate;
}

.btn:hover:after {
    animation: collisionRight 1s both;
    animation-direction: alternate;
}

.btn:before {
    left: -30%;
}

.btn:after {
    left: 125%;
}

@keyframes collisionLeft {
    0% {
        left: -30%;
        width: 20px;
        height: 20px;
    }

    50% {
        left: 50%;
        width: 40px;
        height: 40px;
    }

    100% {
        left: 50%;
        width: 300px;
        height: 300px;
    }
}

@keyframes collisionRight {
    0% {
        left: 125%;
        width: 20px;
        height: 20px;
    }

    50% {
        left: 50%;
        width: 40px;
        height: 40px;
    }

    100% {
        left: 50%;
        width: 300px;
        height: 300px;
    }
}