@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

body {
    margin: 0;
    padding: 0;
    background-image: url('../images/topo.jpg');
    background-size: cover;
}

.colonne_gauche {
    background-size: cover;
    background-position: center;
    width: 45vw;
    height: 100vh;
    display: inline-block;
    float: left; 
}

.colonne_droite {
    background-size: cover;
    background-position: center;
    width: 45vw;
    height: 100vh;
    display: inline-block;
    float: right; 
}

.texte_gauche {
    position: relative;
    top: 30%;
    transform: translateY(-50%);
    text-align: center;
    font-size: 2rem;
    color: rgb(255, 255, 255);
    font-family: 'Poppins', sans-serif;
    z-index: 10;
}

.texte_droite {
    position: relative;
    top: 30%;
    transform: translateY(-50%);
    text-align: center;
    font-size: 2rem;
    color: rgb(255, 255, 255);
    font-family: 'Poppins', sans-serif;
    z-index: 10;
}

h1:hover{
    -webkit-text-stroke: 0.1rem #fff;
    color: transparent;
}


ul, ol {
    list-style: none;
}
a {
    text-decoration: none;
}

.project_btn {
    font-family: "Nunito", sans-serif;
    font-size: 14px;
    line-height: 1.5;
    display: inline-block;
    color: #fff;
    padding: 32px;
    position: relative;
    letter-spacing: 1px;
    z-index: 10;
}
.project_btn__circle, .project_btn__text, .project_btn__white-circle {
    position: absolute;
}
.project_btn__circle {
    top: 0;
    left: 0;
    height: 100%;
    border-radius: 100%;
    width: 100%;
    box-shadow: 0 0 1px 1px #fff;
    transition: 0.3s linear;
}
.project_btn__white-circle {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    width: 56px;
    height: 56px;
    border-radius: 100%;
    background: #fff;
    display: flex;
    transition: 0.3s ease-in-out;
}
.project_btn__white-circle svg {
    width: 24px;
    height: 24px;
    margin: auto;
}
.project_btn__text {
    top: 50%;
    transform: translateY(-50%);
    white-space: nowrap;
    z-index: 2;
    padding: 24px 8px;
    transition: 0.3s linear;
}
.project_btn:hover .project_btn__circle {
    transform: scale(0);
}
.project_btn:hover .project_btn__white-circle {
    transform: translate(-50%, -50%) scale(1);
}
.project_btn:hover .project_btn__text {
    transform: translate(40px, -50%);
}
.project_button_div {
    width: 35vw;
    z-index: 10;
    display: flex;
    margin-top: 25%;
    align-items: center;
    justify-content: center;
}

.project_image{
    width: 50vw;
    transform: translate(-5%, -65%);
    display: flex;
    position:sticky;
    justify-content: center;
}

img{
    border-radius: 50%;
    width: 0%;
}


.colonne_gauche:hover img{
    width: 75%; 
    transition: width 0.4s ease-in-out;
}
.colonne_droite:hover img{
    width: 75%; 
    transition: width 0.4s ease-in-out;
}


/* -- BOUTONS -- */ 

button {
    padding: 0;
    border: none;
    outline: none;
    color: inherit;
    width: 200px;
    height: 60px;
    cursor: pointer;
    position: absolute;
    color:rgb(255, 255, 255); 
    top: 75%;
    left: 50%;
    margin: -30px 0 0 -100px;
}

.btn {
    border: 1px dotted;
    animation: 0.5s collision ease-in;
    overflow: hidden;
    transition: 0.3s 0.1s;
    filter: url("#goo");
    background: transparent;
    border-radius: 3%;
}
.btn:active {
    transform: translateX(100px);
    background: rgba(255, 255, 255, 0.5);
}
.btn p {
    position: relative;
    margin-top: 7%;
    font-weight: 700;
    font-size: 1.4rem;
    z-index: 5;
    transition: 1s ease-in-out;
}
.btn:hover p {
    color: #000000;
}
.btn:before, .btn:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: white;
}

.btn:hover:before {
    animation: collisionLeft 1s both;
    animation-direction: alternate;
}
.btn:hover:after {
    animation: collisionRight 1s both;
    animation-direction: alternate;
}
.btn:before {
    left: -30%;
}
.btn:after {
    left: 125%;
}
@keyframes collisionLeft {
    0% {
        left: -30%;
        width: 20px;
        height: 20px;
   }
    50% {
        left: 50%;
        width: 40px;
        height: 40px;
   }
    100% {
        left: 50%;
        width: 300px;
        height: 300px;
   }
}
@keyframes collisionRight {
    0% {
        left: 125%;
        width: 20px;
        height: 20px;
   }
    50% {
        left: 50%;
        width: 40px;
        height: 40px;
   }
    100% {
        left: 50%;
        width: 300px;
        height: 300px;
   }
}

  